In [ ]:
#Data science Tools and Ecosystesm

In [ ]:
#In this notebook, DS tools and Ecosystem are summarized.
**Objectives:**

- Enumerate popular languages in Data Science
- Create tables to organize information
- Understand the utilization of environments such as Jupyter, VSCode, and Google Colab
- Apply mathematical functions in Python

In [ ]:
#Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
#Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

In [2]:

| DS Tools         |
|------------------|
| Jupyter Notebook |
| VSCode           |
| Google Colab     |

SyntaxError: invalid syntax (192474376.py, line 1)

In [3]:
###Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
# This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
##Author
  Wang